{% macro statusDisplay(status) -%}
    <p class="status">Статус: <span class="statusDisplay">{{ status }}</span></p>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/master.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body>
    <header id="base_header">
        <h1 id="headline">На Карантине Нечем Заняться</h1>
        {% if current_user.is_authenticated %}
            <nav id="session">
                    <p id="username">{{ current_user.full_name }}</p>
                    <a id="logout" href="/logout">ВЫЙТИ</a>
            </nav>
            <nav id="links">
                <a href="/">🏠</a>
                <a href="/usertasks">Мои Задания</a>
                <a href="/usergroups">Управлять Группами</a>
                <a href="/solve">Решать</a>
            </nav>
        {% endif %}
    </header>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="container alert" style="width: 40%; margin: 20px auto;">
                {% for msg in messages %}
                    <div class="alert">{{ msg }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block body_content %}{% endblock %}

    {% block script %}{% endblock %}
</body>

</html>