{% extends "base.j2" %}

{% macro iterate_form(form, values=none) -%}
    {% for field in form if field.name not in ['csrf_token', 'submit'] %}
        <div class="formField">
            {{ field.label() }}
            
            {% if values is not none %}
                {% if field.name == 'is_finished' %}
                    {% if values['is_finished'] == true %}
                        {{ field(checked="") }}
                    {% else %}
                        {{ field()}}
                    {% endif %}
                {% else %}
                    {{ field(value=values[field.name]) }}
                {% endif %}
            {% else %}
                {{ field(value=false)}}
            {% endif %}
            
            {% for error in field.errors %}
                <div class="alert">{{ error }}</div>
            {% endfor %}
        </div>
    {% endfor %}
    <div id="subBtn">
        {{ form.submit() }}
    </div>
{%- endmacro %}

{% block content %}
    <div class="container">
        <h2>{% block heading %}{% endblock %}</h2>
        <form class="fieldForm" action="" method="post" >
            {{ form.hidden_tag() }}
            <div>{{ form.csrf_token }}</div> 
            {% block fields %}{% endblock %}
        </form>
    </div>
{% endblock %}
