{% extends "j2/base.j2" %}

{% block title %}HomePage{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body_content %}
<main>
<div class="groupDisplay">
    <div class="contentbox">
        <h3>Ваши группы</h3>
        <div class="groupContainer">
            <div class="contentbox">
                {{ statusDisplay("ученик") }}
                {% if groups['student'].length != 0 %}
                    <div class="scrollBox">
                        {% for g in groups['student'] %}
                            <form action="" method="post">
                                <button type="submit" class="groupBtn" name="loadgroup_{{ g['id'] }}">{{ g['name'] }}</button>
                            </form>
                        {% endfor %}
                    </div>
                {% else %}
                    <h5 class="listEmpty">Список пуст</h5>
                {% endif %}
            </div>
            <div class="contentbox">
                    {{ statusDisplay("учитель") }}
                    <div class="scrollBox">
                        {% if groups['teacher'].length != 0 %}
                            {% for g in groups['teacher'] %}
                                <form action="" method="post">
                                    <button type="submit" class="groupBtn" name="loadgroup_{{ g['id'] }}">{{ g['name'] }}</button>
                                </form>
                            {% endfor %}
                        {% else %}
                            <h5 class="listEmpty">Список пуст</h5>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>

    <div class="contentbox">
        <h3>Учителя</h3>
        <div class="scrollBox">
            {% if teachers is not none %}
                {% for t in teachers %}
                    <form action="" method="post">
                        <button type="submit" class="groupBtn" name="loadteacher_{{ t['id'] }}">{{ t['name'] }} {{ t['surname'] }}</button>
                    </form>
                {% endfor %}
            {% else %}
                <h5 class="listEmpty">Выберите группу</h5>
            {% endif %}
        </div>
    </div>

    <div class="contentbox">
        <h3>Студенты</h3>
        <div class="scrollBox">
            {% if students is not none %}
                {% for s in students %}
                <form action="" method="post">
                    <button type="submit" class="groupBtn" name="loadstudent_{{ s['id'] }}">{{ s['name'] }} {{ s['surname'] }}</button>
                </form>
                {% endfor %}
            {% else %}
                <h5 class="listEmpty">Выберите группу</h5>
            {% endif %}
        </div>
    </div>
</div>

<div class="socialDisplay">
    <div class="groupHeading">
        {% if group is not none %}
            <h2>{{ group.get("name") }}</h2>
            {% if current_user.id in group["teachers"] %}
                {{ statusDisplay("учитель") }}
            {% elif current_user.id in group["students"] %}
                {{ statusDisplay("ученик") }}
            {% else %}
                {{ statusDisplay("неясно") }}
            {% endif %}
        {% else %}
            <h5 class="listEmpty">Здесь будут отображаться групповые сообщения</h5>
        {% endif %}
    </div>
</div>

<div class="personalDisplay">

</div>
</main>

{% endblock %}
