{% extends "j2/base.j2" %}

{% block title %}HomePage{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css">
<link rel="stylesheet" type="text/css" href="/static/css/taskNgroup.css">
{% endblock %}

{% block body_content %}

	<div class="container">
		{% for g in groups %}
			<div class="item">
				<label class="itemTitle">{{ g['name'] }}</label>
				{% for dl in g['deadlines'] %}
					<div>
						{{ dl['name'] }}
						{{ dl['time'] }}
						<a href="/deadlines/{{ dl['id'] }}">Перейти</a>
						{% if dl.get('ans') %}
							{{ dl['ans'] }}
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>

{% endblock %}