{% extends "j2/base.j2" %}

{% block title %}HomePage{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body_content %}

<div class="groupDisplay">
    <div class="contentbox">
        <h3>Ваши группы</h3>
    </div>
    <div class="contentbox">
        <h3>Учителя</h3>
    </div>
    <div class="contentbox">
        <h3>Студенты</h3>
    </div>
</div>

<div class="social">
    
</div>

<div class="personal">
    
</div>

{% endblock %}
