{% extends "j2/base.j2" %}

{% block title %}HomePage{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css">
{% endblock %}

{% block body_content %}
<main>
    <div class="groupDisplay">
        <div class="contentbox">
            <h3>Ваши группы</h3>
            {% for g in groups %}
                <form action="" method="post">
                    <button type="submit" class="groupBtn" name="load_group_{{ g['id'] }}">{{ g.name }}</button>
                </form>
            {% endfor %}
        </div>
        <div class="contentbox">
            <h3>Учителя</h3>
            {% for t in teachers %}
                <form action="" method="post">
                    <button type="submit" class="groupBtn" name="load_teacher_{{ t['id'] }}">{{ t.full_name }}</button>
                </form>
            {% endfor %}
        </div>
        <div class="contentbox">
            <h3>Студенты</h3>
            {% for s in students %}
                <form action="" method="post">
                    <button type="submit" class="groupBtn" name="load_student_{{ s['id'] }}">{{ s.full_name }}</button>
                </form>
            {% endfor %}
        </div>
    </div>

    <div class="socialDisplay">
        
    </div>

    <div class="personalDisplay">
        
    </div>
</main>

{% endblock %}
