{% extends "j2/base.j2" %}

{% block title %}Deadline{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/css/taskNgroup.css">
	<link rel="stylesheet" type="text/css" href="/static/css/manageDeadline.css">
{% endblock %}

{% block body_content %}

	<form class="baseForm" method="post">
			<div class="container">
				<div class="beginPage">
					<h3>Группа: {{ group['name'] }}</h3>
				</div>

				<div class="item">
					<label class="itemTitle">Заголовок Дедлайна</label>
					<label class="current">{{ deadline["name"] }}</label>
					<label class="edit">Изменить</label>
					<input class="fieldInput" type="text" name="name">
				</div>

				<div class="item">
					<label class="itemTitle">Дата и Время</label>
					<label class="current">{{ deadline["time"] }}</label>
					<label class="edit">Изменить (указывать оба)</label>
					<input class="fieldInput" type="datetime-local" name="time" id="time">
				</div>

				<div class="item">
					<label class="itemTitle">Уже Назначено</label>
					{% set task = deadline.get('task') %}
					{% if task is not none %}
						<div class="existField" id="assigned">
							<label class="current">{{ task['name'] }}</label>
							<a href="/correct/{{ task.id }}">Просмотреть</a>
						</div>
					{% else %}
						<h5 class="listEmpty">Выберите задание</h5>
					{% endif %}
				</div>

				<div class="item">
					<label class="itemTitle">Ваши Задания</label>
					{% for task in current_user.tasks %}
						<div class="existField" id="tasks">
							<label class="current">{{ task.name }}</label>
							<a href="/correct/{{ task.id }}">Просмотреть</a>
							<div class="checkcont">
								<label class="edit">Назначить</label>
								<input class="checkBox" type="checkbox" name="at{{ task.id }}">
							</div>
						</div>
					{% endfor %}
				</div>

				<div class="item">
					<label class="itemTitle">Удалить Дедлайн</label>
					<div>
						<label class="edit">Поставьте галочку, чтобы удалить дедлайн</label>
						<input class="checkBox" type="checkbox" name="delete">
					</div>
				</div>

				<button class="submitBtn">Сохранить Изменения</button>
			</div>
	</form>

{% endblock %}