{% extends "j2/base.j2" %}

{% block title %}Group{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/taskNgroup.css">
{% endblock %}

{% block body_content %}

	<form class="baseForm" method="post">
			<div class="container">
				<div class="item">
					<label class="itemTitle">Название Группы</label>
					<label class="current">{{ data['name'] }}</label>
					<label class="edit">Изменить</label>
					<input class="fieldInput" type="text" name="name">
				</div>

				<div class="item">
					<label class="itemTitle">Учителя</label>
					{% for teacher in data['teachers'] %}
						<div class="existField">
							<label class="current">{{ teacher['surname'] }}</label>
							<label class="current">{{ teacher['name'] }}</label>
							<label class="current">{{ teacher['email'] }}</label>
							<div class="checkcont">
								<label class="edit">Удалить</label>
								<input class="checkBox" type="checkbox" name="dt{{ teacher['id'] }}">
							</div>
						</div>
					{% endfor %}

					<label class="edit">Добавить</label>
					<div class="multipleInput" id="teachers">
						<input class="fieldInput" type="email" name="at0">
					</div>
					<button class="plusBtn" id="addTeacher" type="button">+</button>
				</div>

				<div class="item">
					<label class="itemTitle">Ученики</label>
					{% for student in data['students'] %}
						<div class="existField">
							<label class="current">{{ student['surname'] }}</label>
							<label class="current">{{ student['name'] }}</label>
							<label class="current">{{ student['email'] }}</label>
							<div class="checkcont">
								<label class="edit">Удалить</label>
								<input class="checkBox" type="checkbox" name="ds{{ student['id'] }}">
							</div>
						</div>
					{% endfor %}

					<label class="edit">Добавить</label>
					<div class="multipleInput" id="students">
						<input class="fieldInput" type="email" name="as0">
					</div>
					<button class="plusBtn" id="addStudent" type="button">+</button>
				</div>

				<button class="submitBtn">Сохранить Изменения</button>
			</div>
	</form>

{% endblock %}

{% block script %}
	<script>
		$('#addTeacher').click(function() {
			let cnt = $("#teachers").children().length;
			$("#teachers").append(`<input class="fieldInput" type="text" name="at${cnt}">`)
		});
		$('#addStudent').click(function() {
			let cnt = $("#students").children().length;
			$("#students").append(`<input class="fieldInput" type="text" name="as${cnt}">`)
		});
	</script>
{% endblock %}