{% extends "j2/base.j2" %}

{% block title %}Deadline{% endblock %}

{% block head %}
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/taskNgroup.css">
{% endblock %}

{% block body_content %}

	<form class="baseForm" method="post">
			<div class="container">
				<h2>Группа: {{ group['name'] }}</h2>

				<div class="item">
					<label class="itemTitle">Уже назначены</label>
					{% for dl in group['deadlines'] %}
						<div class="existField">
							<label class="current">{{ teacher['surname'] }}</label>
							<label class="current">{{ teacher['name'] }}</label>
							<label class="current">{{ teacher['email'] }}</label>
							<div class="rm">
								<label class="edit">Удалить</label>
								<input type="checkbox" name="dt{{ teacher['id'] }}">
							</div>
						</div>
					{% endfor %}
				</div>

				<div class="item">
					<label class="itemTitle">Назначить</label>
					{% for teacher in data['teachers'] %}
						<div class="existField">
							<label class="current">{{ teacher['surname'] }}</label>
							<div class="rm">
								<label class="edit">Удалить</label>
								<input type="checkbox" name="dt{{ teacher['id'] }}">
							</div>
						</div>
					{% endfor %}
				</div>

				<button class="submitBtn">Сохранить Изменения</button>
			</div>
	</form>

{% endblock %}

{% block script %}
	<script>
		$('#addTeacher').click(function() {
			let cnt = $("#teachers").children().length;
			$("#teachers").append(`<input class="fieldInput" type="text" name="at${cnt}">`)
		});
		$('#addStudent').click(function() {
			let cnt = $("#students").children().length;
			$("#students").append(`<input class="fieldInput" type="text" name="as${cnt}">`)
		});
	</script>
{% endblock %}