{% extends "j2/base.j2" %}

{% block title %}Deadline{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/css/taskNgroup.css">
	<link rel="stylesheet" type="text/css" href="/static/css/manageDeadline.css">
{% endblock %}

{% block body_content %}

	<form class="baseForm" method="post">
			<div class="container">
				<div class="beginPage">
					<h3>Группа: {{ group['name'] }}</h3>
				</div>

				<div class="item">
					<label class="itemTitle">Название Задания</label>
					<label class="current">{{ deadline["name"] }}</label>
					<label class="edit">Изменить</label>
					<input class="fieldInput" type="text" name="name">
				</div>

				<div class="item">
					<label class="itemTitle">Дата и Время</label>
					<label class="current">{{ deadline["time"] }}</label>
					<label class="edit">Изменить (указывать оба)</label>
					<input class="fieldInput" type="datetime-local" name="time" id="time">
				</div>

				<div class="item">
					<label class="itemTitle">Уже Назначены</label>
					{% for task in deadline['tasks'] %}
						<div class="existField">
							<label class="current">{{ task['name'] }}</label>
							<a href="#">Просмотреть</a>
							<div class="checkcont">
								<label class="edit">Удалить</label>
								<input class="checkBox" type="checkbox" name="dt{{ task['id'] }}">
							</div>
						</div>
					{% endfor %}
				</div>

				<div class="item">
					<label class="itemTitle">Ваши Задания</label>
					{% for task in current_user.tasks %}
						<div class="existField">
							<label class="current">{{ task.name }}</label>
							<a href="#">Просмотреть</a>
							<div class="checkcont">
								<label class="edit">Назначить</label>
								<input class="checkBox" type="checkbox" name="at{{ task.id }}">
							</div>
						</div>
					{% endfor %}
				</div>

				<button class="submitBtn">Сохранить Изменения</button>
			</div>
	</form>

{% endblock %}