{% extends "/j2/base.j2" %}

{% block title %}Solve{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/taskNgroup.css">
<link rel="stylesheet" type="text/css" href="/static/css/manageTask.css">
{% endblock %}

{% block body_content %}

	<form class="baseform" method="post">
		<div class="container">
			<div class="item">
				<label class="itemTitle">Название Задания</label>
				<label class="current">{{ data['name'] }}</label>
			</div>

			<div class="item">
				<label class="itemTitle">Описание к Заданию</label>
				<label class="current">{{ data['description']|safe }}</label>
			</div>

			{% if problems|length() != 0 %}
				<div id="problems" class="container">
					{% for p in problems %}
						<div class="item">
							<h2>#{{ loop.index }}</h2>

							<p class="current para">
								{{ p['text']|safe }}
							</p>

							<div class="ans">
								<label class="itemTitle">Ответ:</label>
							</div>
							<input class="fieldInput" type="text" name="{{ p['id'] }}">
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div id="problems" class="container"></div>
				<div class="container">
					<h5 class="listEmpty">Задач нет</h5>
				</div>
			{% endif %}

			<p class="attention">Проверьте, что вы не забыли указать ответ к какой-нибудь задаче</p>
			<button class="submitBtn">Завершить Работу</button>
		</div>
	</form>

{% endblock %}