{% extends "/j2/base.j2" %}

{% block title %}My Tasks{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/taskNgroup.css">
{% endblock %}

{% block body_content %}

	<div class="container">
		<div class="beginPage">
			<h2>Ваши Задания</h2>
			<p class="help">Вы можете назначать ...</p>
			<button class="itemBtn" onclick="location.href = '/newtask'">Добавить Задание</button>
		</div>
	</div>

	<div class="container">
		{% if tasks is not none %}
			{% for item in tasks %}
				<div class="item">
					{% set id=item['id'] %}
					<h3>{{ item["name"] }}</h3>
					<div>
						<button class="itemBtn" style="background-color: #61e58e" onclick="location.href='/task/{{ item['id'] }}'">Редактировать</button>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h5 class="listEmpty">Заданий нет</h5>
		{% endif %}
	</div>
{% endblock %}