{% extends "j2/base.j2" %}

{% block title %}My Groups{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/taskNgroup.css">
<link rel="stylesheet" type="text/css" href="/static/css/usergroups.css">
{% endblock %}

{% block body_content %}
	<div class="container">
		<div class="beginPage">
			<h2>Ваши Группы</h2>
			<p class="help">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</p>
			<button class="itemBtn" onclick="location.href='/newgroup'">Создать Группу</button>
		</div>
	</div>

	<div class="container">
		{% if groups is not none %}
			{% for g in groups %}
				<div class="item">
					<h3>{{ g["name"] }}</h3>
					<div>
						<button class="itemBtn" style="background-color: #61e58e" onclick="location.href='/group/{{ g['id'] }}'">Редактировать</button>
						<button class="itemBtn" style="background-color: #f6af40" onclick="location.href='/newDeadline/{{ g['id'] }}'">Назначить Задание</button>
					</div>
					<div class="container">
						<label class="itemTitle">Сроки</label>
						<div class="scrollBox">
							{% for dl in g["deadlines"] %}
								<div class="existField">
									<label class="current">{{ dl['name'] }}</label>
									<label class="current">{{ dl['time'] }}</label>
									<label class="current">{{ dl['user'] }}</label>
									{% if dl['user_id'] == current_user.id %}
										<div class="checkcont">
											<a href="/deadlineSolutions/{{ dl['id'] }}">Решения</a>
											<a href="/deadline/{{ dl['id'] }}">Изменить</a>
										</div>
									{% endif %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h5 class="listEmpty">Групп нет</h5>
		{% endif %}
	</div>
{% endblock %}